<div id="e-reg">
    <div id="e-reg-header" class="cf">
        <!--<div id="admin-sign-in">
			<a href="javascript:;">Administratörsinloggning</a>
		</div>-->
        <h1>
            Våtrumsanmälan &ndash; Ny anmälan</h1>
        <!--<ul id="e-reg-menu" class="cf">
			<li class="signed-in-as"><a href="company.html"><span>Inloggad som</span> Boström Inredning AB</a></li>
			<li class="sign-out"><a href="javascript:;"><span>Logga ut</span> ur tjänsten</a></li>
		</ul>-->
        <!--<h2 class="structural">Meny</h2>
		<ul id="tabs" class="cf">
			<li><a href="home.html">Om tjänsten</a></li>
			<li><strong>Ny anmälan</strong></li>
			<li><a href="reg-history.html">Tidigare anmälningar</a></li>
			<li><a href="edit-client.html">Kontakter</a></li>
		</ul>-->
    </div>
    <div id="e-reg-content">
        <p>
    Din våtrumsanmälan består av 4 steg, som du kan fylla i i den ordning du själv vill.
    Vissa steg kräver att föregående steg är ifyllt, och är då låsta.</p>
<ol id="progress" class="cf">
    <li><span><a href="/min-sida/vatrumsanmalan/ny-anmalan">Beställning</a></span></li>
        <li><span><a href="/min-sida/vatrumsanmalan/utforande">Utförande</a></span></li>
            <li><span><a href="/min-sida/vatrumsanmalan/entreprenor">Entreprenör</a></span></li>
        <li class="locked"><span><a href="/min-sida/vatrumsanmalan/granska-anmalan">Granska anmälan</a></span></li>
</ol>

        <span id="current-progress" class="second"></span>
        <h2>
            Utförande</h2>
        <p>
            Uppgifter markerade med * är obligatoriska</p>
        <!--<a id="save" class="black" href="javascript:;">Spara</a>-->
        <form method="post" action="/min-sida/vatrumsanmalan/utforande" class="form-general cancel" id="execution-form">
        <!--<input type="submit" value="Spara" class="above-top-right" />-->
        <div class="content-block">
            <div class="row cols-1 cf">
                <div class="col col-1 medium">
                    <fieldset>
                        <legend class="wrap"><span>Typ av uppdrag *</span></legend>
                        <div class="fieldset-content">
                            <label for="ProjectType" class="error">
                                <strong>Du måste välja uppdrag.</strong></label>
                            <div class="radio">
                                		<input type="radio" name="ProjectType" value="Renovering" id="radio-same-person" class="required" />
        <label for="radio-same-person">Renovering</label>

                            </div>
                            <div class="radio">
                                		<input type="radio" name="ProjectType" value="Nyproduktion" id="radio-other-person" class="required" checked="checked" />
        <label for="radio-other-person">Nyproduktion</label>

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- // -->
        <div class="content-block">
            <div class="row cols-1 cf">
                <div class="col col-1 checkbox large">
                        <input type="hidden" name="FloorIncluded" value="" />
		<input type="checkbox" name="FloorIncluded" id="FloorIncluded" class="" checked="checked" />
        <label for="FloorIncluded">Jag ska utföra golvarbete</label>

                </div>
            </div>
            <div id="floor-content">
                <div class="row cols-1 cf">
                    <div class="col col-1 large radio">
                        <fieldset>
                            <legend class="wrap"><span>Ange utförande *</span></legend>
                            <div class="fieldset-content">
                                <label for="FloorExecution" class="error">
                                    <strong>Du måste välja utförande.</strong></label>
                                        <div class="radio">
            		<input type="radio" name="FloorExecution" value="Plastmatta" id="X173509532" class="required" checked="checked" />
        <label for="X173509532">Plastmatta som t&#228;t- och ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="FloorExecution" value="Plastmatta/klinker" id="X609128096" class="required" />
        <label for="X609128096">Plastmatta som t&#228;tskikt och keramiska plattor som ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="FloorExecution" value="T&#228;tskiktsfolie" id="X2125699147" class="required" />
        <label for="X2125699147">T&#228;tskiktsfolie med keramiska plattor som ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="FloorExecution" value="Annat t&#228;tskikt/klinker" id="X165116051" class="required" />
        <label for="X165116051">V&#228;tskebaserat t&#228;tskikt med keramiska plattor som ytskikt</label>

        </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col col-1 full cf">
                    <label for="FloorSupplier">
                        Fabrikat och/eller produkt *</label>
                </div>
                <div class="row cols-2 cf">
                    <div class="col col-1 medium">
                        <div class="row cols-1 cf">
                            <div class="col col-1 select full">
                                <label for="FloorSupplierSelect" class="error">
                                    <strong>Du måste välja fabrikat.</strong></label>
                                <select name="FloorSupplierSelect" id="FloorSupplierSelect" class="required">
                                </select>
                                <a href="javascript:;" class="brand-trigger forward">Annat fabrikat</a>
                            </div>
                        </div>
                        <div class="row cols-1 cf brand-wrap">
                            <div class="col col-2 text full">
                                	<input type="text" name="FloorSupplier" id="FloorSupplier" value="Tarkett" class="brand-input" placeholder="Ange fabrikat" />

                            </div>
                        </div>
                    </div>
                    <div class="col col-1 medium">
                        <div class="row cols-1 cf">
                            <div class="col col-1 select full">
                                <label for="FloorProductSelect" class="error">
                                    <strong>Du måste välja produkt/konstruktion.</strong></label>
                                <select name="FloorProductSelect" id="FloorProductSelect" class="required">
                                </select>
                                <a href="javascript:;" class="brand-trigger forward">Annan produkt/konstruktion</a>
                            </div>
                        </div>
                        <div class="row cols-1 cf brand-wrap">
                            <div class="col col-2 text full">
                                	<input type="text" name="FloorProduct" id="FloorProduct" value="Aquarelle Design 2,0 mm" class="brand-input" placeholder="Ange produkt/konstruktion" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /floor-content -->
        </div>
        <div class="content-block">
            <div class="row cols-1 cf">
                <div class="col col-1 checkbox large">
                        <input type="hidden" name="WallZone1Included" value="" />
		<input type="checkbox" name="WallZone1Included" id="WallZone1Included" class="" checked="checked" />
        <label for="WallZone1Included">Jag ska utföra väggarbete i våtzon 1 (duschplats)</label>

                    
                </div>
            </div>
            <div id="wetzone-1">
                <div class="row cols-1 cf">
                    <div class="col col-1 large radio">
                        <fieldset>
                            <legend class="wrap"><span>Ange utförande *</span></legend>
                            <div class="fieldset-content">
                                <label for="WallZone1Execution" class="error">
                                    <strong>Du måste välja utförande.</strong></label>
                                        <div class="radio">
            		<input type="radio" name="WallZone1Execution" value="Plastv&#228;gg" id="X526335779" class="required" />
        <label for="X526335779">Plastmatta som t&#228;t- och ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="WallZone1Execution" value="Plastv&#228;gg/kakel" id="X1191386547" class="required" checked="checked" />
        <label for="X1191386547">Plastmatta som t&#228;tskikt och keramiska plattor som ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="WallZone1Execution" value="T&#228;tskiktsfolie" id="X750636412" class="required" />
        <label for="X750636412">T&#228;tskiktsfolie med keramiska plattor som ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="WallZone1Execution" value="Annat t&#228;tskikt/kakel" id="X870194321" class="required" />
        <label for="X870194321">V&#228;tskebaserat t&#228;tskikt med keramiska plattor som ytskikt</label>

        </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col col-1 full cf">
                    <label for="WallZone1SupplierSelect">
                        Fabrikat och/eller produkt *</label>
                </div>
                <div class="row cols-2 cf">
                    <div class="col col-1 medium">
                        <div class="row cols-1 cf">
                            <div class="col col-1 select full">
                                <label for="WallZone1SupplierSelect" class="error">
                                    <strong>Du måste välja fabrikat.</strong></label>
                                <select name="WallZone1SupplierSelect" id="WallZone1SupplierSelect">
                                </select>
                                <a href="javascript:;" class="brand-trigger forward">Annat fabrikat</a>
                            </div>
                        </div>
                        <div class="row cols-1 cf brand-wrap">
                            <div class="col col-2 text full">
                                	<input type="text" name="WallZone1Supplier" id="WallZone1Supplier" value="Tarkett" class="brand-input" placeholder="Ange fabrikat" />

                            </div>
                        </div>
                    </div>
                    <div class="col col-1 medium">
                        <div class="row cols-1 cf">
                            <div class="col col-1 select full">
                                <label for="WallZone1ProductSelect" class="error">
                                    <strong>Du måste välja produkt/konstruktion.</strong></label>
                                <select name="WallZone1ProductSelect" id="WallZone1ProductSelect">
                                </select>
                                <a href="javascript:;" class="brand-trigger forward">Annan produkt/konstruktion</a>
                            </div>
                        </div>
                        <div class="row cols-1 cf brand-wrap">
                            <div class="col col-2 text full">
                                	<input type="text" name="WallZone1Product" id="WallZone1Product" value="TarkoDry Wall 1,2 mm" class="brand-input" placeholder="Ange produkt/konstruktion" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /wetzone-1 -->
        </div>
        <!-- /content-block -->
        <div class="content-block">
            <div class="row cols-1 cf">
                <div class="col col-1 checkbox large">
                        <input type="hidden" name="WallZone2Included" value="" />
		<input type="checkbox" name="WallZone2Included" id="WallZone2Included" class="" />
        <label for="WallZone2Included">Jag ska utföra väggarbete i våtzon 2 (övrig vägg)</label>

                </div>
            </div>
            <div class="row cols-1 cf" style="margin-left: 10px;">
                <div class="col col-1 checkbox full">
                        <input type="hidden" name="WallZone2DifferentFromWallZone1" value="" />
		<input type="checkbox" name="WallZone2DifferentFromWallZone1" id="WallZone2DifferentFromWallZone1" class="" />
        <label for="WallZone2DifferentFromWallZone1">Utförande i våtzon 2 (övrig vägg) skiljer sig från utförandet i våtzon 1 (duschplats)</label>

                </div>
            </div>
            <div id="wetzone-2">
                <div class="row cols-1 cf">
                    <div class="col col-1 large radio">
                        <fieldset>
                            <legend class="wrap"><span>Ange utförande för våtzon 2*</span></legend>
                            <div class="fieldset-content">
                                <label for="WallZone2Execution" class="error">
                                    <strong>Du måste välja utförande.</strong></label>
                                        <div class="radio">
            		<input type="radio" name="WallZone2Execution" value="Plastv&#228;gg" id="X1874582646" class="required" />
        <label for="X1874582646">Plastmatta som t&#228;t- och ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="WallZone2Execution" value="Plastv&#228;gg/kakel" id="X1125950072" class="required" />
        <label for="X1125950072">Plastmatta som t&#228;tskikt och keramiska plattor som ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="WallZone2Execution" value="T&#228;tskiktsfolie" id="X913843490" class="required" />
        <label for="X913843490">T&#228;tskiktsfolie med keramiska plattor som ytskikt</label>

        </div>
        <div class="radio">
            		<input type="radio" name="WallZone2Execution" value="Annat t&#228;tskikt/kakel" id="X2103828103" class="required" />
        <label for="X2103828103">V&#228;tskebaserat t&#228;tskikt med keramiska plattor som ytskikt</label>

        </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col col-1 full cf">
                    <label for="WallZone2SupplierSelect">
                        Fabrikat och/eller produkt *</label>
                </div>
                <div class="row cols-2 cf">
                    <div class="col col-1 medium">
                        <div class="row cols-1 cf">
                            <div class="col col-1 select full">
                                <label for="WallZone2SupplierSelect" class="error">
                                    <strong>Du måste välja fabrikat.</strong></label>
                                <select name="WallZone2SupplierSelect" id="WallZone2SupplierSelect">
                                </select>
                                <a href="javascript:;" class="brand-trigger forward">Annat fabrikat</a>
                            </div>
                        </div>
                        <div class="row cols-1 cf brand-wrap">
                            <div class="col col-2 text full">
                                	<input type="text" name="WallZone2Supplier" id="WallZone2Supplier" value="" class="brand-input" placeholder="Ange fabrikat" />

                            </div>
                        </div>
                    </div>
                    <div class="col col-1 medium">
                        <div class="row cols-1 cf">
                            <div class="col col-1 select full">
                                <label for="WallZone2ProductSelect" class="error">
                                    <strong>Du måste välja produkt/konstruktion.</strong></label>
                                <select name="WallZone2ProductSelect" id="WallZone2ProductSelect">
                                </select>
                                <a href="javascript:;" class="brand-trigger forward">Annan produkt/konstruktion</a>
                            </div>
                        </div>
                        <div class="row cols-1 cf brand-wrap">
                            <div class="col col-2 text full">
                                	<input type="text" name="WallZone2Product" id="WallZone2Product" value="" class="brand-input" placeholder="Ange produkt/konstruktion" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-block -->
        <!-- /wetzone-2 -->
        <div class="content-block">
            <h3>
                Noterade avvikelser för arbete enligt GVK:s branschregler *</h3>
            <p>
                Här anger du sådant som du vet kommer att ge en avvikelse i GVK:s förkontroll. Välj
                ett eller flera alternativ i listan, och/eller enge avvikelse i kommentarsfältet.</p>
            <div class="row cols-1 cf">
                <div class="col col-1 large checkbox">
                    <fieldset>
                        <legend class="wrap structural">Avvikelser</legend>
                        <div class="fieldset-content">
                            <div class="checkbox">
                                    <input type="hidden" name="DeviationNone" value="" />
		<input type="checkbox" name="DeviationNone" id="DeviationNone" class="" />
        <label for="DeviationNone">Inga kända avvikelser finns</label>

                            </div>
                                <input type="hidden" name="DeviationText" id="DeviationText" value="" />

                                    <div class="checkbox">
            <input type="checkbox" id="X407487536" class="deviation" />
            <label for="X407487536">Fall inte enligt GVK men uppfyller kraven enligt Boverkets Byggregler</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="X1495228206" class="deviation" />
            <label for="X1495228206">Golvavlopp f&#246;r n&#228;ra v&#228;gg men funktion och t&#228;thet kan uppfyllas</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="X453695282" class="deviation" />
            <label for="X453695282">R&#246;rgenomf&#246;ring i v&#228;gg f&#246;r n&#228;ra angr&#228;nsande v&#228;gg men t&#228;tskikt kan monteras</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="X665167347" class="deviation" />
            <label for="X665167347">V&#228;gg lutar mer &#228;n AMAs tolerans eller mer &#228;n avtalat</label>
        </div>

                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- /.content-block -->
        <div class="content-block">
            <div class="row cols-1 cf">
                <div class="col col-1 text full">
                    <label for="DeviationText">
                        Övriga kommentarer</label>
                    <p>
                        Kommentera ev. avvikelser här. Vi uppskattar också kommentarer som underlättar för
                        våra kontrollanter, t.ex. hur man hittar fram om adress ännu inte finns.</p>
                    	<textarea name="DeviationCustomText" id="DeviationCustomText" class="" rows="4" cols="30"></textarea>

                </div>
            </div>
        </div>
        <!-- /.content-block -->
        <div id="e-reg-nav">
            <div class="row cols-1 cf">
                <div class="col col-1 submit-area">
                    <a href="/min-sida/vatrumsanmalan/utforande" id="save-for-later">Spara anmälan för att fortsätta senare</a> 
                    <a href="/min-sida/vatrumsanmalan/ny-anmalan?vatrumid=401012&cancel=1">Avbryt anmälan</a>
                    <input id="e-reg-back" type="submit" value="Föregående" class="cancel" name="submit-previous" />
                    <input id="e-reg-forward" type="submit" value="Nästa" name="submit-next" />
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
